.container {
	padding: 20px;
}

.loading {    
    background-color: #ffffff;
    background-image: url("loading.gif");
    background-size: 16px 16px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

.suggestions {
	position: absolute;
}

.person-suggestion {
	cursor: pointer;
}

.person-suggestion:hover {
	background: #eeeeee;
}

.person-search {
	margin: 0;
}

.form-group {
	padding: 15px;
	margin: 0;
	background: #fefefe;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.film-list-item {
	cursor: pointer;
}

.film-list-item:hover {
	background: #eeeeee;
}

.input-highlight {
	border: 1px solid #ff3300;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}